/**
 * @name Compact-User-List
 * @description Makes the user list look much like the server list.
 * @author square, LewsTherinTelescope
 * @version 1.1.1
 */

:root {
  --cul-transition-duration: 200ms;
  
  --cul-avatar-scale-collapsed: 1;
  --cul-avatar-scale-expanded: 1;
  
  --cul-sidebar-padding: 16px;
  --cul-slideout-width: 240px;
  
  /** these are not meant to be played with, they're just put in variables so they're not as confusing to follow as if they were stuffed in one **/
  --cul-internal-row-padding: calc(1px + 16px * (var(--cul-avatar-scale-collapsed) - 1));
  --cul-internal-avatar-size: calc(32px * var(--cul-avatar-scale-collapsed));
  --cul-internal-sidebar-padding: calc(var(--cul-sidebar-padding) * 2 * var(--cul-avatar-scale-collapsed));
  --cul-internal-sidebar-width: calc(var(--cul-internal-sidebar-padding) + var(--cul-internal-avatar-size));
}

/* Sidebar itself */
.membersWrap_cbd271 {
  height: 100%;
  min-width: initial;
  width: var(--cul-internal-sidebar-width);
  /* makes width transition go right-to-left instead of left-to-right */
  text-align: right;
}

/* User list */
.members_cbd271, .membersListNotices__0bcb6 {
  /* don't _actually_ want to force text-align right */
  text-align: initial;
  position: absolute;
  right: 0;
  height: 100%;
  width: var(--cul-internal-sidebar-width);
  transition: width var(--cul-transition-duration) linear;
}

/* I don't actually know what this second thing is because I haven't ever seen it have content, but it doesn't work unless I do that */
.membersWrap_cbd271:hover .members_cbd271, .membersWrap_cbd271:hover .membersListNotices__0bcb6 {
  width: var(--cul-slideout-width);
}

/* Role header */
.membersGroup__cad095 {
  font-size: 10px;
}

.membersWrap_cbd271:hover .membersGroup__cad095 {
  font-size: 12px;
}

/** Role header icons **/
.members_cbd271 .roleIcon_d5100b {
  display: none;
}

.members_cbd271:hover .roleIcon_d5100b {
  display: inline;
}

/* Member rows */
.memberInner_a31c43 {
  padding: var(--cul-internal-row-padding) 0;
}

/* Username, status, etc */
.content_e9f61e {
  /* prevents text from affecting layout in collapsed mode, since display:none can't have a transition-delay */
  flex: 0;
  /* cuts down on the visible jank of the previous line a bit by making the margins change only at the end */
  transition: flex var(--cul-transition-duration) ease-in;
}

.membersWrap_cbd271:hover .content_e9f61e {
  flex: 1 1 auto;
}

/* Profile picture */
.avatar_e9f61e {
  margin-left: auto;
  margin-right: auto;
  transform: scale(var(--cul-avatar-scale-collapsed));
}

.membersWrap_cbd271:hover .avatar_e9f61e {
  margin-left: var(--cul-sidebar-padding);
  margin-right: 12px;
  transform: scale(var(--cul-avatar-scale-expanded));
}
